mixin sidebar(urlMeta = {})
    .sidebar
        .toogle-btn
        ul
            each list in urlMeta
                if list
                    each val in list
                        li(data-tooltip-text=`URL: ${val.url}
                        DeadLine: ${val.deadLine}`, data-html="true")=val.name
                else
                    li='N/A'