extends layouts/main

block content
    .find
        .find-form.global-form
            span INPUT EMAIL
            form(action=routes.find, method="post")
                input(type="email", name="email", placeholder="Email", required=true)
                input(type="submit", value="Send Email")
            if message
                span=message