extends layouts/main
include mixins/sidebar

block content
    .home
        +sidebar({
            urlsList: urls
        })
        include ./partials/chart.pug
    .bg-modal
        .modal-contents#jsModalContents
            .close#jsClose ❌
            form#jsAddUrlForm
                input(type="text", name="url", placeholder=`URL File Size 10MB Limit(e.g https://google.com)`)
                a(href="#", class="button", id="jsSubmitAddBtn") Submit