extends layouts/main
include mixins/sidebar

block content
    .home
        if urls
            +sidebar({
                urlMeta: urls
            })
        //- each item in urls
        //-     +sidebar({
        //-         name: item.name,
        //-         url: item.url,
        //-         deadLine: item.deadLine
        //-     })
        include ./partials/chart.pug