extends layouts/main
include mixins/sidebar

block content
    .home
        +sidebar({
            urlsList: urls
        })
        include ./partials/chart.pug
    .bg-modal
        .modal-contents
            .close
            form
                input(type="text", name="url", placeholder=`URL (File Size 1MB Limit)`)
                a(href="#", class="button") Submit