extends layouts/main
include mixins/sidebar

block content
    .home
        +sidebar({
            urlsList: urls
        })
        include ./partials/chart.pug
    .bg-modal
        .modal-contents#jsModalContents
            .close#jsClose ❌
            form#jsAddUrlForm
                input.inputName(type="text", name="name", placeholder=`URL NAME`, required=true)#jsInputName
                input.inputUrl(type="text", name="url", placeholder=`URL File Size 10MB Limit(e.g https://google.com)`, required=true)#jsInputUrl
                //- input.inputSubmit(type="submit", class="button", id="jsSubmitAddBtn")
                a(href="#", class="button", id="jsSubmitAddBtn") Submit