.chart {
  width: 100%;
  .chart__header {
    position: sticky;
    top: 2rem;
    background-color: #1e1d2e;
    width: 100%;
    padding-left: 33px;
    button:first-child {
      margin-right: 965px;
      background: #fd5d93;
      background-image: linear-gradient(
        to bottom left,
        #fd5d93,
        #ec250d,
        #fd5d93
      );
      background-size: 210% 210%;
      background-position: 100% 0;
      background-color: #fd5d93;
      transition: all 0.15s ease;
      box-shadow: none;
      color: #fff;
    }
    button {
      width: 7rem;
      background: #344675;
      background-image: linear-gradient(
        to bottom left,
        #344675,
        #263148,
        #344675
      );
      font-size: 0.875rem;
      border-radius: 0.2857rem;
      padding: 5px 15px;
      background-size: 210% 210%;
      background-position: 100% 0;
      transition: all 0.15s ease;
      box-shadow: none;
      color: #fff;
      border-width: 2px;
      border: none;
      position: relative;
      overflow: hidden;
      margin: 4px 1px;
      display: inline-block;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      font-family: Poppins, sans-serif;
      -webkit-appearance: button;
      text-transform: none;
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
    }
    button:hover {
      background: #e14eca;
    }
    button:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
  }
  .chart__container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    // flex-direction: row;
  }
  canvas {
    width: 40vw;
    background-color: #27293c;
    margin: 1%;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  }
}
#chart__circle {
  width: 22%;
  position: relative;
  margin: 6% 0 23.8% 40.5%;
}
