.global-form {
  margin: 12em auto;
  width: 27em;
  height: 26em;
  background-color: None;
  padding: 1%;
  // margin-left: 30%;
  // margin-right: 30%;
  input[type="submit"] {
    cursor: pointer;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
  }
  input[type="email"],
  input[type="password"] {
    border: 0;
    background-color: $form;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0s;
    color: $main_text;
  }
  span {
    text-transform: uppercase;
    font-size: 1.1rem;
    top: 1%;
    margin-bottom: 1em;
  }
  input[type="email"]:focus,
  input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
  }
  input[type="submit"] {
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  input[type="submit"]:hover {
    background: #2ecc71;
  }
  a {
    font-size: 1rem;
  }
}
