.sidebar {
  margin: 5% 0% 0 0%;
  top: 10%;
  width: 17%;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  box-shadow: 0 4px 6px rgba(50, 90, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 1);
  ul {
    list-style: none;
    padding: 16% 0;
    font-size: 1.5rem;
    border-radius: 1rem;
  }
  li {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: regular;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    text-align: center;
    &:hover {
      background-color: #5a5f73;
    }

    &:focus {
      outline: none;
    }
  }

  [data-tooltip-text]:hover {
    position: relative;
    white-space: pre-line;
  }

  [data-tooltip-text]:hover:after {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: #ffffff;
    font-size: 1rem;
    content: attr(data-tooltip-text);

    margin-bottom: 10px;
    // top: 130%;
    left: 100%;
    padding: 7px 12px;
    position: absolute;
    // width: auto;
    width: 50rem;
    // min-width: 50px;
    // max-width: 900px;
    word-wrap: break-word;
    z-index: 9999;
  }
}
