.chart
    .chart__header
            button.chart__button__delete(title="If you click this button, you can not check this url") DELETE
            button.chart__button__3hours 3 HOURS
            button.chart__button__day DAY
            button.chart__button__week WEEK
            button.chart__button__2weeks 2WEEKS
    .chart__containers
        #chart__circle
    if !loggedUser
        .chart__container(id=`lluckyy77@gmail.com||https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png||3`)
    else if loggedUser.urls
        .chart__container(id=`${loggedUser.email}||${loggedUser.urls[0].url}||3`)
        //- span=loggedUser.email