.chart
    if !loggedUser
        .chart__container(id=`lluckyy77@gmail.com||https://react-lee-movieapp.s3.ap-northeast-2.amazonaws.com/fxxk.mp42`)
    else if loggedUser.urls
        .chart__container(id=`${loggedUser.email}||${loggedUser.urls[0].url}`)
        span=loggedUser.email