chart.chart
    if !loggedUser
        .chart__container(id=`lluckyy77@gmail.com`)
        span=`publicChart`
    else
        .chart__container(id=`${loggedUser.email}`)
        span=loggedUser.email