footer.footer
    .footer__contact 
        |If you want to contact us, please send an email to  
        a(href="#" title="lluckyy77@gmail.com") lluckyy77@gmail.com
    .footter__sign
        COPYRIGHT © 2016 |URL CHECKER