footer.footer
    .footer__contact 
        span If you want to contact me, please send an email to  
        a(href="#" title="lluckyy77@gmail.com") lluckyy77@gmail.com
    span.footer__text &copy; URL CHECKER 2019